/* Your code here */
.masthead{
      display: grid ;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      "masthead__menu-and-search . masthead__actions"
      " . masthead__technologies . "
      "masthead__date masthead__logo masthead__paper";
}

.masthead__menu-and-search {
      grid-area: masthead__menu-and-search;
}

.masthead__actions {
      grid-area: masthead__actions;
}

.masthead__technologies {
      grid-area: masthead__technologies;
}

.masthead__logo {
      grid-area: masthead__logo;
}

.masthead__date {
      grid-area: masthead__date;
}

.masthead__paper {
      grid-area: masthead__paper;
}

.masthead_button {
      font-size: 11px;
      padding: 7px 9px 9px 7px;
}
.masthead_button:hover {
      background-color: #f7f7f5;
}

.masthead__menu-and-search {
      display:flex;
      align-items: center;
      padding: 0 0 0 20px;
}

.masthead__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding:10px;
}


